/*
ToDo:
Fela appointment takkann þegar ýtt er á mobile navbar iconið?
*/

* {
    padding: 0;
    margin: 0;
}


/*
font-family: 'Lato', sans-serif;
font-family: 'Libre Baskerville', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
*/



body {
    background-color: #f9fcf9;
    font-family: 'Open Sans', sans-serif;
    
}

/*HeaderBlock class with default position around banner to create normal flow for content*/
.headerBlock {
    width: 100%;
    height: 312px;
}

.banner {
    position: absolute;
    width: 100%;
    height: 312px;
    background-image: url("images/psychologist.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.desktopMenu {
    display: none;
}

.topBar {
    width: 100%;
    height: 4.5rem;
    overflow: hidden;
}

.logoImg {
    display: block;
    float: left;
    padding: 0.5rem 1rem;
}

.logoImg1 {
    display: none;
}

.topBar a.icon {
    float: right;
    padding: 1.3rem 1rem;
}

.mobileMenu {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.7);
}

.mobileMenu a {
    display: block;
    text-align: center;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.25rem;
    font-weight: semibold;
    color: black;
    padding: 0.75rem;
}

.hideMobile {
    display: none;
}

/* The popup form - hidden by default */
.form-popup {
    display: none;
    height: 15rem; /*15.5rem is the height of the banner minus the height of the topBar */
}
  
/* Add styles to the form container */
.form-container {
    width: 100%;
    height: 100%;
    background-color: #80808080;
}

.form-container h4 {
    font-family: 'Lato', sans-serif;
    font-size: 1.5rem;
    text-align: center;
    padding: 1rem;
    color: #253428;
}

.form-container h5 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    text-align: center;
    color: #253428;
}

.form-container .input-fields {
    width: 50%;
    float: left;
    
}
  
/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
    display: block;
    width: 100%;
    padding: 0.5rem 1rem;
    margin: 2vh 4vw;
    width: 12em;
    border: none;
    border-radius: 0.15rem;
    font-size: 0.625rem;
    background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
    float: right;
    background-color: #485a4b;
    color: #f9fcf9;
    padding: 8px 10px;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    width: 30%;
    margin: 2em 1.18em 1em 1em;
    opacity: 0.85;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
    background-color: #933434;
    margin: 0 1.18em 0 1em;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
    opacity: 1;
}

.appointmentButton {
    display: block;
    position: absolute;
    left: 30%;
    margin: auto;
    bottom: 10%;
    background-color: #7c9f83; /* Green */
    width: 184px;
    border: none;
    border-radius: 0.25rem;
    color: #f9fcf9;
    padding: 1.25rem 0.5rem;
    text-align: center;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.75rem;
    font-weight: bold;
    letter-spacing: 0.01rem;
    cursor: pointer;
}

.covid-banner {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 6rem;
    background-color: #E5ECE6;
}

br {
    display: static;
}

h4  {
    padding: 1.25rem 3rem 2rem 1rem;
    font-family: 'Lato', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
    text-align: center;
    color: #485A4B
    
}

.covid-link {
    text-decoration: none;
 }

.alert-icon {
    size: 3.rem;
    padding: 1rem 0;
}

.content {
    width: 100%;
}

.siteSubTitle {
    padding: 4.24rem 0;
    text-align: center;
    font-family: 'Libre Baskerville', serif;
    font-size: 3.5rem;
    font-weight: bold;
}

.flexboxContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: stretch;
}

.flexboxItem {
    width: 100%;
}

.flexboxItem img {
    display: block;
    height: 40%;
    width: 100%;
    margin: 0 auto;
    padding: 12px 0;
}

.flexboxItem h2 {
    text-align: center;
    padding: 2.5rem 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    font-weight: semibold;
}

.flexboxItem p {
    padding: 0.75rem 1rem 6rem 1rem;
    line-height: 1.4;
}

.aboutUs {
    width: 100%;
}

.aboutUs__info {

}

.aboutUs__info img{
    height: 40vh;
    width: 100%;
    object-fit: cover;
    padding-bottom: 3rem;
}

.aboutUs__info p {
    padding: 0rem 1rem 2rem 1rem;
    line-height: 1.4;
}


.footer {
    width: 100%;
    background-color: #318CE7;
}

.footer h2 {
    text-align: center;
    padding: 10px 0;
}

.footer p {
    padding-left: 6px;
    padding-right: 6px;
    padding-bottom: 10px;
}

/*Styles for bigger screens*/
@media only screen and (min-width: 1000px) {
    /***************/
    /*Header begins*/
    /***************/
    .headerBlock {
        height: 100vh;
    }

    .banner {
        height: 100%;
        width: 100%;
    }

    .topBar {
        width: 100%;
        overflow: hidden;
    }

    .logoImg {
        display: block;
        float: left;
        padding: 8px 16px;
    }

    .topBar a.icon {
        display: none;
    }

    #myLinks {
        display: none;
    }

    .desktopMenu {
        display: block;
        float: right;
        height: 100%;
    }

    .desktopMenu ul {
        list-style-type: none;
        overflow: hidden;
        margin: 0 auto;
        height: 100%;
    }

    .desktopMenu ul li {
        float: left;
        height: 100%;
    }

    .desktopMenu ul li a {
        display: block;
        color: black;
        padding: 0.5rem 1vw;
        margin: 2rem;
        border-radius: 0.25rem;
        text-decoration: none;
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        font-size: 1.25rem;
        font-weight: semibold;
    }

    .desktopMenu ul li a:hover {
        background-color: rgba(255, 255, 255, 0.95);
    }

    .form-popup {
        display: none;
        height: 80vh;
        margin-top: 4vh;
        margin-bottom: 4vh;
    }
      
      /* Add styles to the form container */
      .form-container {
        max-width: 500px;
        padding: 10px;
        margin: 0 auto;
        background-color: rgba(128, 128, 128, 0.6);
      }
    
    .form-container h1 {
        font-size: 32px;
        text-align: left;
    }

    .form-container h3 {
        font-size: 18px;
    }

    .form-container .input-fields {
        width: 50%;
        display: block;
        float: none;
    }
      
      /* Full-width input fields */
      .form-container input[type=text], .form-container input[type=password] {
        width: 100%;
        padding-left: 10px;
        margin: 16px 4px;
        width: 24em;
        height: 40px;
        border: none;
        font-size: 18px;
        background: #f1f1f1;
      }
      
      /* When the inputs get focus, do something */
      .form-container input[type=text]:focus, .form-container input[type=password]:focus {
        background-color: #ddd;
        outline: none;
      }
      
      /* Set a style for the submit/login button */
      .form-container .btn {
        display: block;
        float: none;
        background-color: #4CAF50;
        color: white;
        padding: 16px 20px;
        border: none;
        cursor: pointer;
        width: 50%;
        margin-bottom:10px;
        margin-left: auto;
        margin-right: auto;
        opacity: 0.8;
      }
      
      /* Add a red background color to the cancel button */
      .form-container .cancel {
        background-color: red;
      }
      
      /* Add some hover effects to buttons */
      .form-container .btn:hover, .open-button:hover {
        opacity: 1;
      }

    /*Header ends*/

    /****************/
    /*Content begins*/
    /****************/

    .logoImg {
        display: none;
    }
    
    .topBar {
        width: 100%;
        height: 6.5rem;
        /*background-color: rgba(255, 255, 255, 0.7);*/
        background-color: #ffffff50;
        overflow: hidden;
    }
    
    .logoImg1 {
        display: block;
        float: left;
        padding: 1rem 2rem;
    
    }

    .appointmentButton {
        display: block;
        position: absolute;
        width: 14.5rem;
        left: 25%;
        bottom: 20%;
        background-color: #7c9f83; /* Green */
        border: none;
        border-radius: 0.5rem;
        color: white;
        padding: 1.25rem 0.5rem;
        text-align: center;
        text-decoration: none;
        font-family: 'Open Sans', sans-serif;
        font-size: 1rem;
        letter-spacing: 0.01rem;
        cursor: pointer;
        transition-duration: 0.2s;
    }
    

    .appointmentButton:hover {
        background-color: #485A4B; /* greyGreen */
        color: white;
    }

    .covid-banner {
        display: flex;
        justify-content: center;
        width: 100%;
        background-color: #E5ECE6;
    }

    br {
        display: none;
    }

    h4 {
        padding: 1.6rem 1rem 2rem 1rem;
        font-family: 'Montserrat', sans-serif;
        font-size: 2.5rem;
        font-weight: bold;
        letter-spacing: 0.1rem;
        color: #485A4B;
    }

    .covid-link {
       text-decoration: none;
    }

    .alert-icon {
        size: 3.75rem;
        padding: 1rem 0;
    }
  

    
    .siteSubTitle {
        padding: 24px 0;
        text-align: center;
        font-size: 64px;
    }
    
    .flexboxContainer {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: stretch;
    }
    
    .flexboxItem {
        width: 100%;
        margin: 0 32px;
    }
    
    .flexboxItem img {
        display: block;
        height: 40%;
        width: 100%;
        margin: 0 auto;
        padding: 12px 0;
    }
    
    .flexboxItem h2 {
        text-align: center;
        padding: 12px 0;
        font-size: 28px;
    }
    
    .flexboxItem p {
        padding: 12px 16px;
        line-height: 1.4;
    }

    .aboutUs {
        width: 100%;
        height: 60vh;
        background-image: url("images/bigGroup.png");
        background-repeat: no-repeat;
        background-size: cover;
    }

    .aboutUs__info {
        width: 35%;
        height: 100%;
    }
    
    .aboutUs__info .aboutImg{
        display: none;
    }

    .footer {
        width: 100%;
        height: 208px;
        background-color: #7c9f83;
    }

    .footerContainer {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: stretch;
        overflow: hidden;
    }

    .footerRow {
        height: 100%;
        width: 100%;
        margin: 10px 0;
        background-color: gray;
    }
}
