* {
    padding: 0;
    margin: 0;
}


/*
font-family: 'Lato', sans-serif;
font-family: 'Libre Baskerville', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
*/

body {
    background-color: #f9fcf9;
    font-family: 'Open Sans', sans-serif;
    color: #253428;
    
}

/*HeaderBlock class with default position around banner to create normal flow for content*/
.header-block {
    width: 100%;
    height: 19.5rem;
}

.banner {
    position: absolute;
    width: 100%;
    height: 19.5rem;
    background-image: url("images/psychologist.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.desktopMenu {
    display: none;
}

.top-bar {
    width: 100%;
    height: 4.5rem;
    overflow: hidden;
}

.logoImg {
    display: block;
    float: left;
    padding: 0.5rem 1rem;
}

.logoImg1 {
    display: none;
}

.top-bar a.icon {
    float: right;
    padding: 1.3rem 1rem;
}

.mobileMenu {
    width: 100%;
    background-color: #f9fcf990;
}

.mobileMenu a {
    display: block;
    text-align: center;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.25rem;
    font-weight: semibold;
    color: #253428;
    padding: 0.75rem;
}

.hideMobile {
    display: none;
}

/* The popup form - hidden by default */
.form-popup {
    display: none;
    height: 15rem; /*15.5rem is the height of the banner minus the height of the top-bar */
}
  
/* Add styles to the form container */
.form-container {
    width: 100%;
    height: 100%;
    background-color: #485a4b60;
}

.form-container h4 {
    font-family: 'Lato', sans-serif;
    font-size: 1.5rem;
    text-align: center;
    padding: 1rem;
    color: #253428;
}

.form-container h5 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    text-align: center;
    color: #253428;
}

.form-container .input-fields {
    width: 50%;
    float: left;
    
}
  
/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
    display: block;
    width: 100%;
    padding: 0.5rem 1rem;
    margin: 2vh 4vw;
    width: 12em;
    border: none;
    border-radius: 0.15rem;
    font-size: 0.625rem;
    background: #f9fcf9;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: #e5ece6;
    outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
    float: right;
    background-color: #485a4b;
    color: #f9fcf9;
    padding: 0.5rem 0.625rem;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    width: 30%;
    margin: 2rem 1.18rem 1rem 1rem;
    opacity: 0.85;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
    background-color: #933434;
    margin: 0 1.18rem 0 1rem;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
    opacity: 1;
}

.appointmentButton {
    display: block;
    position: absolute;
    left: 30%;
    margin: auto;
    bottom: 10%;
    background-color: #7c9f83; /* Green */
    width: 11.5rem;
    border: none;
    border-radius: 0.25rem;
    color: #f9fcf9;
    padding: 1.25rem 0.5rem;
    text-align: center;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.75rem;
    font-weight: bold;
    letter-spacing: 0.01rem;
    cursor: pointer;
}

.content {
    width: 100%;
}

.covid-banner {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 6rem;
    background-color: #E5ECE6;
}

.covid-br {
    display: static;
}

h4  {
    padding: 1.25rem 3rem 2rem 1rem;
    font-family: 'Lato', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
    text-align: center;
    color: #253428;
    
}

.covid-link {
    text-decoration: none;
 }

.alert-icon {
    padding: 1rem 0;
}

.siteSubTitle {
    padding: 4.24rem 0;
    text-align: center;
    font-family: 'Libre Baskerville', serif;
    font-size: 3.5rem;
    font-weight: bold;
}

.therapies-flexbox {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: stretch;
}

.flexboxItem {
    width: 100%;
}

.flexboxItem img {
    display: block;
    height: 40%;
    width: 100%;
    margin: 0 auto;
    padding: 0.75rem 0;
}

.flexboxItem h2 {
    text-align: center;
    padding: 2.5rem 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    font-weight: semibold;
}

.flexboxItem p {
    padding: 0.75rem 1rem 4rem 1rem;
    line-height: 1.4;
    text-align: left;
}

.aboutUs {
    width: 100%;
}

.aboutUs .siteSubTitle {
    padding: 0 0 3rem 0;
}

.aboutUs__info img{
    height: 40vh;
    width: 100%;
    object-fit: cover;
    padding-bottom: 3rem;
}

.aboutUs__info p {
    padding: 0rem 1rem 2rem 1rem;
    line-height: 1.4;
    text-align: center;
}

.wrapper {
    display: grid;
    /*height: 40%;
    width: 100%;
    margin: 0 auto;
    padding: 0.75rem 0;*/
        margin: 0;
        /*grid-template-columns: 1fr 1fr 1fr;*/
        grid-template-columns:repeat(1, 1fr);
        gap: -1rem;
        /*grid-auto-rows: 6.25rem; /*Height is fixed*/
        /*grid-auto-rows: minmax(4.375rem, auto); Height is fixed but increases if content overlaps*/
        
}

.about-staff {
    margin: auto;
    width: 70%;
    text-align: center;
    padding: 3.625rem;
    font-family: 'Libre Baskerville', serif;
}

.staff-image {
    max-width: 12.5rem;
    min-width: 6.25rem;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h2 {
    font-family: 'Libre Baskerville', serif;
    font-size: 4rem;
}

h5 {
    text-align: center;
    font-family: 'Libre Baskerville', serif;
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 0.125rem;
}

small {
    display: block;
    text-align: center;
    font-size: 0.875rem;
    font-weight: 600;
    padding-bottom: 6.25rem;
    
}

.footer {
    width: 100%;
    height: 208px;
    background-color: #7c9f83;
}

.footerContainer {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: stretch;
    overflow: hidden;
}

.footerTop {
    text-align: center;
    color: #fff;
    margin-top: 104px;
    margin-bottom:15px;
    margin-left: 35px;
    margin-right: 35px;
    border-bottom:2px solid #fff;
    padding-bottom:15px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: -0.02em;
}

.footerBottomLeft {
    color:#fff;
    padding:15px 0px 45px 30px;
    width: 100%;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: -0.02em;
}

.footer h2 {
    text-align: center;
    padding: 10px 0;
}

.footer p {
    padding-left: 6px;
    padding-right: 6px;
    padding-bottom: 10px;
}

/*Styles for bigger screens*/
@media only screen and (min-width: 1000px) {
    /***************/
    /*Header begins*/
    /***************/
    .header-block {
        height: 100vh;
    }

    .banner {
        height: 100%;
        width: 100%;
    }

    .top-bar {
        width: 100%;
        overflow: hidden;
    }

    .logoImg {
        display: block;
        float: left;
        padding: 0.4rem 1rem;
    }

    .top-bar a.icon {
        display: none;
    }

    #myLinks {
        display: none;
    }

    .desktopMenu {
        display: block;
        float: right;
        height: 100%;
    }

    .desktopMenu ul {
        list-style-type: none;
        overflow: hidden;
        margin: 0 auto;
        height: 100%;
    }

    .desktopMenu ul li {
        float: left;
        height: 100%;
    }

    .desktopMenu ul li a {
        display: block;
        color: #253428;
        padding: 0.5rem 1vw;
        margin: 2rem;
        border-radius: 0.25rem;
        text-decoration: none;
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        font-size: 1.25rem;
        font-weight: semibold;
    }

    .desktopMenu ul li a:hover {
        background-color: #e5ece690;
    }

    .form-popup {
        display: none;
        height: 70vh;
        margin-top: 4vh;
        margin-bottom: 4vh;
    }

      /* Add styles to the form container */
      .form-container {
        max-width: 31.25rem;
        padding: 0.625rem;
        margin: 0 auto;
        background-color: #485a4b80;
        border-radius: 0.25rem;
      }
    
    .form-container h4 {
        font-size: 2rem;
        font-family: 'Lato', sans-serif;
        text-align: center;
        font-size: 2rem;
        padding: 1rem;
        color: #253428;
    }

    .form-container h5 {
        font-size: 1.125;
        font-family: 'Montserrat', sans-serif;
        font-size: 1rem;
        text-align: center;
        color: #253428;
    }

    .form-container .input-fields {
        width: 50%;
        display: block;
        float: none;
    }
      
    /* Full-width input fields */
    .form-container input[type=text], .form-container input[type=password] {
        width: 100%;
        padding-left: 0.625rem;
        margin: 1rem 0.25rem;
        width: 25.8em;
        height: 2.5rem;
        border: none;
        font-size: 1.125rem;
        background: #f9fcf9;
      }
      
      /* When the inputs get focus, do something */
      .form-container input[type=text]:focus, .form-container input[type=password]:focus {
        background-color: #e5ece6;
        outline: none;
    }

    /* Set a style for the submit/login button */
    .form-container .btn {
        display: block;
        float: none;
        background-color: #485a4b;
        color: #f9fcf9;
        padding: 1rem 1.25rem;
        border: none;
        cursor: pointer;
        width: 50%;
        margin-bottom: 0.625rem;
        margin-left: auto;
        margin-right: auto;
        opacity: 0.8;
    }
    
    /* Add a red background color to the cancel button */
    .form-container .cancel {
        background-color: #933434;
    }
    
    /* Add some hover effects to buttons */
    .form-container .btn:hover, .open-button:hover {
        opacity: 1;
    }

    /*Header ends*/

    /****************/
    /*Content begins*/
    /****************/

    .logoImg {
        display: none;
    }
    
    .top-bar {
        width: 100%;
        height: 6.5rem;
        /*background-color: rgba(255, 255, 255, 0.7);*/
        background-color: #f9fcf950;
        overflow: hidden;
    }
    
    .logoImg1 {
        display: block;
        float: left;
        padding: 1rem 2rem;
    
    }

    .appointmentButton {
        display: block;
        position: absolute;
        width: 14.5rem;
        left: 25%;
        bottom: 20%;
        background-color: #7c9f83; /* Green */
        border: none;
        border-radius: 0.5rem;
        color: #f9fcf9;
        padding: 1.25rem 0.5rem;
        text-align: center;
        text-decoration: none;
        font-family: 'Open Sans', sans-serif;
        font-size: 1rem;
        letter-spacing: 0.01rem;
        cursor: pointer;
        transition-duration: 0.2s;
    }
    

    .appointmentButton:hover {
        background-color: #485A4B; /* greyGreen */
        color: #f9fcf9;
    }
    
    .covid-banner {
        display: flex;
        justify-content: center;
        width: 100%;
        background-color: #E5ECE6;
    }

    .covid-br {
        display: none;
    }

    .covid-banner h4 {
        padding: 1.6rem 1rem 2rem 1rem;
        font-family: 'Montserrat', sans-serif;
        font-size: 2.5rem;
        font-weight: bold;
        letter-spacing: 0.1rem;
        color: #485A4B;
    }

    .covid-link {
    text-decoration: none;
    }

    .alert-icon {
        size: 3.75rem;
        padding: 1rem 0;
    }
    
    .siteSubTitle {
        padding: 4.24rem 0 1rem 0;
        text-align: center;
        font-size: 4rem;
        font-family: 'Libre Baskerville', serif;
        font-weight: bold;
    }
    
    .therapies-flexbox {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: stretch;
        overflow: hidden;
        padding: 0 2rem;
    }
    
    .flexboxItem {
        width: auto;
        margin: 0 2rem;
    }
    
    .flexboxItem img {
        display: block;
        height: auto;
        margin: 3rem auto 1.5rem auto;
        border-radius: 0.rem;
        
    }
    
    .flexboxItem h2 {
        text-align: center;
        padding: 0.75rem 0;
        font-size: 1.75rem;
    }
    
    .flexboxItem p {
        padding: 0.75rem 1rem 3rem 1rem;
        line-height: 1.4;
    }

    .aboutUs {
        width: 100%;
        height: 60vh;
        margin-top: 2rem;
        background-image: url("images/bigGroup.png");
        background-repeat: no-repeat;
        background-size: cover;
    }

    .aboutUs  .siteSubTitle {
        padding: 2rem 0 1rem 0;
    }

    .aboutUs__info {
        width: 40%;
        height: 100%;
        margin-left: 2rem;
        overflow: hidden;
    }
    
    .aboutUs__info .aboutImg{
        display: none;
    }

    .about-staff {
        margin: auto;
        width: 70%;
        text-align: center;
        padding: 3.625rem;
    }
    
    .about-staff h2 {
        margin-bottom: 2rem;
        font-family: 'Libre Baskerville', serif;
        font-size: 4rem;
        color: #253428;
    }

    .aboutUs__info p {
        text-align: left;
    }
        
    .wrapper {
        display: grid;
        margin: 1rem 3rem 4rem 3rem;
        /*grid-template-columns: 1fr 1fr 1fr;*/
        grid-template-columns:repeat(5, 1fr);
        gap: -1rem;
        /*grid-auto-rows: 6.25rem; /*Height is fixed*/
        /*grid-auto-rows: minmax(4.375rem, auto); Height is fixed but increases if content overlaps*/
        
    }
    
    .wrapper > div {
        margin: auto;
        padding: 1rem 0;
    }
    
    .staff-image {
       max-width: 12.5rem;
       min-width: 6.25rem;
       height: auto;
    }
    
    h5 {
        text-align: center;
        font-family: 'Libre Baskerville', serif;
        font-size: 1rem;
        font-weight: bold;
        letter-spacing: 0.125rem;
    }
    
    small {
        display: block;
        text-align: center;
        font-size: 0.875rem;
        font-weight: 600;
        padding-bottom: 0;
    }

    /****************/
    /*Footer begins*/
    /****************/
    .footer {
        width: 100%;
        height: 13rem;
        background-color: #7c9f83;
    }

    .footerContainer {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: stretch;
        overflow: hidden;
    }

    .footerTop {
        text-align: center;
        color: #f9fcf9;
        margin-top: 6.5rem;
        margin-bottom: 1rem;
        margin-left: 2.2rem;
        margin-right: 2.2rem;
        border-bottom: 0.125rem solid #f9fcf9;
        padding-bottom: 1rem;
        font-family: Open Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 1rem;
        line-height: 1.375rem;
        letter-spacing: -0.02em;
    }

    .footerBottomLeft {
        color:#f9fcf9;
        padding: 1rem 0 2.8rem 1.875rem;
        width: 100%;
        font-family: 'Open Sans', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 1rem;
        line-height: 1.375rem;
        letter-spacing: -0.02em;
    }
}
